name: Continuous Integration

on:
    push:
        branches:
            - master
    pull_request: ~

jobs:
    check:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
            - name: Validate composer.json
              run: composer validate --strict --no-check-lock
    cs-fixer:
        runs-on: ubuntu-24.04
        name: PHP-CS-Fixer
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Fix CS
              uses: docker://oskarstark/php-cs-fixer-ga
              with:
                args: --diff --dry-run
    tests:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: false
            matrix:
                include:
                    - description: 'No Symfony specified'
                      php: '8.1'
                    - description: 'No Symfony specified'
                      php: '8.2'
                    - description: 'No Symfony specified'
                      php: '8.3'
                    - description: 'No Symfony specified'
                      php: '8.4'
                    - description: 'No Symfony specified'
                      php: '8.5'
                    - description: 'Lowest deps'
                      php: '8.1'
                      dependencies: lowest
                    - description: 'Symfony 6.4'
                      php: '8.1'
                      symfony: 6.4.*
                    - description: 'Symfony 7.4'
                      php: '8.2'
                      symfony: 7.4.*
                    - description: 'Dev deps'
                      php: '8.5'
                      dev: true
        name: PHP ${{ matrix.php }} tests (${{ matrix.description }})
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: flex
            - name: Allow possible dev dependencies
              run: composer config minimum-stability dev
              if: matrix.dev
            - name: Install dependencies
              uses: ramsey/composer-install@v3
              with:
                  dependency-versions: ${{ matrix.dependencies }}
              env:
                  SYMFONY_REQUIRE: ${{ matrix.symfony }}
            - run: vendor/bin/phpunit --colors=always
